<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Book</title>
</head>
<body>
    <h1>Add a Book</h1>

    <form action="/add_book" method="POST">
    {% csrf_token %}
    <div>
        <label>Title</label>
        <input type="text" name="title">
    </div>
    <div>
        <label for="desc">Description</label>
        <textarea name="description" id="description" cols="30" rows="5"></textarea>
    </div>
    <button>ADD</button>
    </form>
    <table>
        <thead>
            <th>ID</th>
            <th>Title</th>
            <th>Action</th>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.title }}</td>
                <td>
                <a href="/books/{{ book.id }}">View</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/add_book">click</a>
</body>
</html>